# ====== Flask ======
SECRET_KEY=change-me-to-a-long-random-string
FLASK_ENV=development

# ====== MongoDB Atlas / Local ======
# Ví dụ Atlas: mongodb+srv://<user>:<pass>@cluster0.xxxx.mongodb.net/?retryWrites=true&w=majority
# Ví dụ Local:  mongodb://localhost:27017
MONGODB_URI=
MONGODB_DB=pfs_db
# Tên collection
MONGODB_USERS_COLL=users
MONGODB_OTP_COLL=otp_codes

# ====== SMTP gửi OTP qua email ======
# Gmail: SMTP_HOST=smtp.gmail.com  SMTP_PORT=587  SMTP_USE_TLS=true
# Lưu ý: nếu dùng Gmail phải tạo "App password" (không phải password chính)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USE_TLS=true
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password_here
MAIL_FROM=Program For Student <your_email@gmail.com>

# ====== OTP cấu hình ======
OTP_LENGTH=6
OTP_TTL_MINUTES=10
OTP_RESEND_COOLDOWN=60
